<!-- Footer section -->
{% if page.permalink == '/' and site.clean_homepage %}
{% else %}
  <footer class=footer>
    <ul>
      <li><a href="{{ site.base }}/" title="JarylWANG.com">Home</a></li>
      <li><a href="{{ site.base }}/contact/" title="Contact">Contact</a></li>
      <li><a href="{{ site.base }}/work/" title="Portfolio">Portfolio</a></li>
      <li><a href="{{ site.base }}/#social" title="Find me on social media">Social</a></li>
      <li><a href="{{ site.base }}/blog/" title="Blog">Blog</a></li>
      <li><a href="{{ amsf_feed_url }}" title="Feed - Atom (The Atom Syndication Format)">Feed</a></li>
    </ul>
  </footer>
{% endif %}
